@font-face {
    font-family: digital;
    src: url(CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: digital;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    height: 250px;
    width: 500px;
    background-color: navy;
    color: white;
    border: 4px solid black;
}

.c_home, .c_guest {
    width: 150px;
    text-align: center;
    border: 2px dotted blue;
}

.reset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted green; 
}

.reset button {
    font-family: digital;
    font-size: 1.5em;
    color: yellow;
    background-color: darkred;
    border: 3px solid black;
}
.score {
    width: 140px;
    height: 70px;
    margin: auto;
    background-color: black;
}

 h3 {
    font-size: 2em;
    border: 1px dotted white;
}

#home_score, #guest_score {
    font-size: 4em;
    color: red;
    text-align: center;
    border: 1px dotted yellow;
}
.buttons {
    border: 2px dotted red;
}

.buttons button{
    width: 40px;
    height: 30px;
    padding-top: 6px;
    font-family: digital;
    color: skyblue;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: navy;
    border-color: skyblue
}

.buttons button:hover{
    background-color: blueviolet;
    border-color: black;
    color: navy;
}